respond_calendar_event:
  description: "Respond to calendar event/invite"
  target:
    device:
      integration: o365
    entity:
      integration: o365
      domain: calendar
  fields:
    event_id:
      description: ID for event, can be found as an attribute on you calendar entity's events
      example: xxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxx
    response:
      description: "The response to the invite [Accept, Tentative, Decline]"
      example: Decline
    message:
      description: "The response message to the invite (Optional)"
      example: "I cannot attend this meeting"
    send_response:
      description: "Send the response to the organizer (Optional)"
      example: True

create_calendar_event:
  description: Create new calendar event
  target:
    device:
      integration: o365
    entity:
      integration: o365
      domain: calendar
  fields:
    subject:
      description: The subject of the created event
      example: Clean up the garage
    start:
      description: The start time of the event
      example: "2023-01-01T12:00:00+0000"
    end:
      description: The end time of the event
      example: "2023-01-01T12:30:00+0000"
    body:
      description: The body text for the event (optional)
      example: Remember to also clean out the gutters
    location:
      description: The location for the event (optional)
      example: "1600 Pennsylvania Ave Nw, Washington, DC 20500"
    categories:
      description: list of categories for the event (optional)
    sensitivity:
      description: "The sensitivity for the event (optional) [Normal, Personal, Private, Confidential]"
      example: Normal
    show_as:
      description: "Show event as (optional) [Free, Tentative, Busy, Oof, WorkingElsewhere, Unknown]"
      example: Busy
    is_all_day:
      description: Set whether event is all day (optional)
      example: False
    attendees:
      description: "list of attendees formatted as email: example@example.com type: Required, Optional, or Resource (optional)"

modify_calendar_event:
  description: Modify existing calendar event, all properties except event_id are optional.
  target:
    device:
      integration: o365
    entity:
      integration: o365
      domain: calendar
  fields:
    event_id:
      description: ID for the event, can be found as an attribute on you calendar entity's events
      example: xxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxx
    subject:
      description: The subject of the created event
      example: Clean up the garage
    start:
      description: The start time of the event
      example: "2023-01-01T12:00:00+0000"
    end:
      description: The end time of the event
      example: "2023-01-01T12:30:00+0000"
    body:
      description: The body text for the event
      example: Remember to also clean out the gutters
    location:
      description: The location for the event
      example: "1600 Pennsylvania Ave Nw, Washington, DC 20500"
    categories:
      description: list of categories for the event
    sensitivity:
      description: "The sensitivity for the event[Normal, Personal, Private, Confidential]"
      example: Normal
    show_as:
      description: "Show event as [Free, Tentative, Busy, Oof, WorkingElsewhere, Unknown]"
      example: Busy
    is_all_day:
      description: Set whether event is all day
      example: False
    attendees:
      description: "list of attendees formatted as email: example@example.com type: Required, Optional, or Resource"

remove_calendar_event:
  description: Delete calendar event
  target:
    device:
      integration: o365
    entity:
      integration: o365
      domain: calendar
  fields:
    event_id:
      description: ID for the event, can be found as an attribute on you calendar entity's events
      example: xxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxx

new_task:
  description: Create a new task/ToDo
  target:
    device:
      integration: o365
    entity:
      integration: o365
      domain: sensor
  fields:
    subject:
      description: The subject of the task
      example: Pick up the mail
    description:
      description: Description of the task
      example: Walk to the post box and collect the mail
    due:
      description: When the task is due by
      example: "YYYY-MM-DD"
    reminder:
      description: When a reminder is needed
      example: "2023-01-01T12:00:00+0000"

set_auto_reply:
  name: Set auto reply
  description: Schedules auto reply
  fields:
    account:
      description: Name of the account in the configuration
      example: "Work account"
      default: "Work account"
      required: true
    start:
      description: The start time of the schedule
      example: "2023-01-01T12:00:00"
      default: "2023-01-01T12:00:00"
      required: true
    end:
      description: The end time of the schedule
      example: "2023-01-01T12:30:00"
      default: "2023-01-01T12:30:00"
      required: true
    timezone:
      description: "Timezone of the schedule"
      example: Europe/Berlin
      default: Europe/Berlin
      required: true
    external_reply:
      description: The message to be send to external emails (or to all emails, if you don't have an organisation email)
      example: I'm currently on holliday, please email Bob for answers
      default: I'm currently on holliday, please email Bob for answers
      required: true
    internal_reply:
      description: The message to be send to internal emails
      example: I'm currently on holliday
      default: I'm currently on holliday
      required: true
  
disable_auto_reply:
  name: Disable auto reply
  description: Disables auto reply
  fields:
    account:
      description: Name of the account in the configuration
      example: "Work account"
      default: "Work account"
      required: true